body {
  margin: 0;
  padding: 1%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.chat-container {
  display: flex;
  height: calc(80vh)
}
.container {
  width: 80%;
  background: #f5f5f5;
  display:flex;
  flex-direction: column;
}
.headerChat {
  height: 90px;
  border-bottom: 2px dotted #3FB1DE;
}
.headerChat h2 {
  font-size: 18px;
  padding: 15px;
  color: #fff;
}

.messageList {
  margin-top: 20px;
  height: calc(70vh);
  overflow-y: auto;
  padding-bottom: 50px;
}

input {
  width: 100%;
  height: 3em;
  border-radius: 0;
  border: 1px solid #3FB1DE;
  border-bottom-left-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}
